<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.NoticeMapper">
    
    <resultMap type="Notice" id="NoticeResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="image"    column="image"    />
        <result property="userId"    column="user_id"    />
        <result property="clubId"    column="club_id"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="com.ruoyi.system.vo.NoticeVo" id="NoticeVoResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="image"    column="image"    />
        <result property="userId"    column="user_id"    />
        <result property="clubId"    column="club_id"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="isDelete"    column="is_delete"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="clubName"    column="club_name"    />
        <result property="userName"    column="nick_name"    />
    </resultMap>

    <sql id="selectNoticeVo">
        select id, title, content, image, user_id, club_id, gmt_create, is_delete, create_time, create_by, update_by, update_time from notice
    </sql>

    <sql id="selectNoticeByUserId">
        SELECT
            n.* ,
            c.club_name,
            u.nick_name
        FROM
            notice n
        JOIN club c ON c.id = n.club_id
        JOIN sys_user u ON u.user_id = n.user_id
    </sql>

    <sql id="selectNoticeByUserIdNew">
        select
            n.* ,
            c.club_name
        from
            sys_user u
        LEFT JOIN club_member cm on cm.user_id = u.user_id
        LEFT JOIN notice n on  cm.club_id = n.club_id
        JOIN club c ON c.id = n.club_id
    </sql>

    <select id="selectNoticeList" parameterType="Notice" resultMap="NoticeResult">
        <include refid="selectNoticeVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="image != null  and image != ''"> and image = #{image}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="clubId != null "> and club_id = #{clubId}</if>
            <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
            <if test="isDelete != null "> and is_delete = #{isDelete}</if>
        </where>
    </select>
    
    <select id="selectNoticeById" parameterType="Long" resultMap="NoticeResult">
        <include refid="selectNoticeVo"/>
        where id = #{id}
    </select>

    <select id="findNoticeByUserId" parameterType="Long" resultMap="NoticeVoResult">
        <include refid="selectNoticeByUserIdNew"/>
        where u.user_id = #{userId}
    </select>

    <select id="selectNoticeVoById" parameterType="Long" resultMap="NoticeVoResult">
        <include refid="selectNoticeByUserId"/>
        where n.id = #{id}
    </select>

    <select id="findNoticeByClubId" parameterType="Long" resultMap="NoticeVoResult">
        <include refid="selectNoticeByUserId"/>
        where c.id = #{clubId}
    </select>

    <insert id="insertNotice" parameterType="Notice" useGeneratedKeys="true" keyProperty="id">
        insert into notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="image != null">image,</if>
            <if test="userId != null">user_id,</if>
            <if test="clubId != null">club_id,</if>
            <if test="gmtCreate != null">gmt_create,</if>
            <if test="isDelete != null">is_delete,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="image != null">#{image},</if>
            <if test="userId != null">#{userId},</if>
            <if test="clubId != null">#{clubId},</if>
            <if test="gmtCreate != null">#{gmtCreate},</if>
            <if test="isDelete != null">#{isDelete},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateNotice" parameterType="Notice">
        update notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null and content != ''">content = #{content},</if>
            <if test="image != null">image = #{image},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="clubId != null">club_id = #{clubId},</if>
            <if test="gmtCreate != null">gmt_create = #{gmtCreate},</if>
            <if test="isDelete != null">is_delete = #{isDelete},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteNoticeById" parameterType="Long">
        delete from notice where id = #{id}
    </delete>

    <delete id="deleteNoticeByIds" parameterType="String">
        delete from notice where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>